<!doctype html>
<html lang="en">
    <%- include('partials/head'); %>
  <body>
    <%- include('partials/navbar'); %>
    <div class="container">
      <% if (locals.message) { %>
        <div class="alert alert-danger mt-3" role="alert">
           <%= message %>
        </div>
    <% } %>
      <form action="/cart/order" method="POST" class="my-3">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="your name" required></div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="example@example.com" required>
        </div>
        <div class="form-group">
          <label for="adress">Adress</label>
          <input type="text" class="form-control" id="adress" name="adress" placeholder="1234 Main St" required>
        </div>
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input type="number" class="form-control" id="phone" name="phone" placeholder="12-123-456" required>
        </div>
        <button type="submit" class="btn btn-success">Place your order</button>
      </form>
    </div>

    <%- include('partials/footer'); %>
  </body>
</html>