<!doctype html>
<html lang="en">
    <%- include('partials/head'); %>
  <body>
    <%- include('partials/navbar'); %>
    <div class="container">
        <h3 class="display-4 my-5 text-center">Your order has been placed successfully</h3>
    </div>
    <%- include('partials/footer'); %>
  </body>
</html>